# **Spotify Database**

# Overview

A Spotify database is a sophisticated system designed to handle diverse data requirements, from managing user information and music metadata to capturing detailed listening habits and social interactions. It leverages a variety of database technologies to ensure scalability, real-time processing, and high availability, providing a seamless music streaming experience for millions of users worldwide.

## Data Description
This database consists of all songs available on Spotify. It includes several key attributes that detail various aspects of songs; including song duration, genre, song title, artist and year of release. 

- `column1`:An identifier or index for each entry in the dataset.
- `title`: The title of the song.
- `artist`: The name of the artist who performed the song.
- `top_genre`: The primary genre of the song, likely based on popularity or classification.
- `year`: The year in which the song was released.
- `bpm`: This column denotes the beats per minute (BPM) of the song, which indicates its tempo or speed.
- `nrgy`: The energy level of the song, which could be a measure of intensity or excitement.
- `dnce`: The danceability of the song, indicating how suitable it is for dancing.
- `dB`: The volume or loudness of the song, measured in decibels (dB).
- `clive`: An indication of whether the song was recorded live or in a studio setting.
- `val`: The valence or mood of the song, indicating its positivity or negativity.
- `dur`: The duration of the song in some unit of time (e.g., seconds or minutes).
- `acous`: The acousticness of the song, indicating the extent to which it features acoustic elements.
- `spch`: The speechiness of the song, which could indicate the presence of spoken words or vocals.
- `pop`: The popularity of the song, though the specific measure or scale of popularity is not specified.

<a id='cont'></a>

## Table of Contents
- [1. Load Database](#one)
- [2. Data Analysis](#two)

<a id='one'></a>

# 1. Load Database

[Back to Table of Contents](#cont)

----

In [1]:
%load_ext sql

In [2]:
%%sql 

sqlite:///Spotify.db

In [4]:
%%sql
SELECT name FROM sqlite_master WHERE type IN ('table','view') AND name NOT LIKE 'sqlite_%' ORDER BY 1

 * sqlite:///Spotify.db
Done.

[('Spotify',)]

##### View columns of the table

In [9]:
%%sql
PRAGMA table_info(spotify)

 * sqlite:///Spotify.db
Done.

[(0, '', 'TEXT', 0, None, 0),
 (1, 'title', 'TEXT', 0, None, 0),
 (2, 'artist', 'TEXT', 0, None, 0),
 (3, 'top genre', 'TEXT', 0, None, 0),
 (4, 'year', 'TEXT', 0, None, 0),
 (5, 'bpm', 'TEXT', 0, None, 0),
 (6, 'nrgy', 'TEXT', 0, None, 0),
 (7, 'dnce', 'TEXT', 0, None, 0),
 (8, 'dB', 'TEXT', 0, None, 0),
 (9, 'live', 'TEXT', 0, None, 0),
 (10, 'val', 'TEXT', 0, None, 0),
 (11, 'dur', 'TEXT', 0, None, 0),
 (12, 'acous', 'TEXT', 0, None, 0),
 (13, 'spch', 'TEXT', 0, None, 0),
 (14, 'pop', 'TEXT', 0, None, 0)]

<a id='two'></a>
# 2. Data Analysis

[Back to Table of Contents](#cont)

----

#### 1. DataSet View

In [11]:
%%sql

SELECT *
FROM spotify
LIMIT 5

 * sqlite:///Spotify.db
Done.

[('1', 'Hey, Soul Sister', 'Train', 'neo mellow', '2010', '97', '89', '67', '-4', '8', '80', '217', '19', '4', '83'),
 ('2', 'Love The Way You Lie', 'Eminem', 'detroit hip hop', '2010', '87', '93', '75', '-5', '52', '64', '263', '24', '23', '82'),
 ('3', 'TiK ToK', 'Kesha', 'dance pop', '2010', '120', '84', '76', '-3', '29', '71', '200', '10', '14', '80'),
 ('4', 'Bad Romance', 'Lady Gaga', 'dance pop', '2010', '119', '92', '70', '-4', '8', '71', '295', '0', '4', '79'),
 ('5', 'Just the Way You Are', 'Bruno Mars', 'pop', '2010', '109', '84', '64', '-5', '9', '43', '221', '2', '4', '78')]